* {
    margin: 0;
    font-family: 'Roboto', sans-serif;
}
body {
    background-color: #A25B5B;
    height: 100vh;
}
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #E8C07D;
    padding: 1rem;
}
.logo {
    width: 50px;
    height: 50px
}
.logo img {
    height: 100%;
    width: 100%
}
.header-nav {
    flex: 1;
}
.header-nav ul {
    display: flex;
    justify-content: right;
    gap: 3rem;
    padding-right: 25%;
}
.header-nav ul li {
    list-style: none;
}
.header-nav ul li a {
    text-decoration: none;
    font-size: 18px;
    font-weight: bolder;
    letter-spacing: 1px;
    color: black;
}
.header-nav ul li a:hover {
    color: #A25B5B;
}
main {
    height: 85%;
    width: 60%;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 1rem;
}
.form-message {
    display: flex;
    flex-wrap: wrap;
    max-width: 800px;
}
.error {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}
.error div {
    max-width: 600px;
}
.form-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}
#sent-message {
    background-color: #5AA897;
    text-align: center;
    max-width: 300px;
    margin: auto;
    padding: 1rem;
    font-size: 16px;
    font-weight: 700;
    letter-spacing: 1px;
    color: white;
    border-radius: 20px;
    border: 1px solid white;
    display: none;
}
#error-message {
    font-size: 20px;
    font-weight: bolder;
    color: #FB743E;
    text-align: center;
}
form {
    padding: 1rem;
}
form label {
    display: block;
}
label {
    color: white;
    font-size: 18px;
    font-weight: 600;
    letter-spacing: 0.5px;
    padding-top: 1rem;
}
input, textarea {
    width: 100%;
    min-height: 2em;
    border: 3px solid black
}
textarea {
    max-width: 800px;
    max-height: 300px;
    font-size: 18px;
}
input {
    max-width: 800px;
}
input[type="radio"] {
    width: 10%;
    min-height: 1px;
}
input[type="submit"] {
    background-color: #E8C07D;
    margin-top: 1rem;
    padding: 0.5rem;
    border-radius: 10px;
    font-size: 20px;
    font-weight: 600;
    color: black;
    border: 1px solid black;
}
span {
    color: #E8C07D;
}
small {
    color: white;
}