@property --gradient-angle {
    syntax: "<angle>";
    initial-value: 0deg;
    inherits: false;
}

:root {
    --clr-1: #07105c;
    --clr-2: #141d6b;
    --clr-3: #1b4797;
    --clr-4: #1d72aa;
    --clr-5: #5ba0ce;
}

* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;;
}
body {
    background: #000;
}
.header {
    border-bottom: 15px solid var(--clr-2);
    background: var(--clr-2);
    padding-top: 1.5%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo {
    padding: 0.5rem 0 0 10%;
    height: 50px;
    width: 50px;
}
.logo img {
    height: 100%;
    width: 100%;
    cursor: pointer;
}
.header-nav {
    flex: 1;
}
.header-nav ul{
    display: flex;
    justify-content: right;
    /* padding-right: 25%; */
}
.header-nav ul li {
    list-style: none;
    margin-right: 12%;
}
.header-nav ul li a {
    text-decoration: none;
    color: var(--clr-4);
    font-weight: 600;
    letter-spacing: 1px;
}
.header-nav ul li a:hover {
    color: var(--clr-5);
}
h1 {
    padding-top: 6%;
    color: var(--clr-5);
    text-align: center;
    /* changed styling */
    z-index: 11;
    margin-top: -550px;
}
main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* changed styling */
    height: 80vh;
    z-index: -10;
    top: 10%;
}
.bg-block {
    position: absolute;
    top: 15%;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    width: 555px;
    height: 399px;
    background-color: #141d6b;
    border-radius: 10px;
    /* changed styling */
    z-index: 10;
}
.bg-block::before, .bg-block::after {
   content: "";
   position: absolute;
   inset: 0;
   z-index: -1;
   background: conic-gradient(
    from var(--gradient-angle),
    var(--clr-3),
    var(--clr-4),
    var(--clr-5),
    var(--clr-4),
    var(--clr-3));
    border-radius: inherit;
    animation: rotation 7s linear infinite;
}
.bg-block::after {
    filter: blur(4rem);
}
.container {
    display: grid;
    width: 100%;
    height: 100%;
    place-content: center;
}
#slider {
    position: relative;
    width: 500px;
    height: 350px;
    overflow: hidden;
}
#slider img {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    border-radius: 10px;
    transition: opacity 1s ease-in-out;
}
#slider img.active {
    opacity: 1;
}
button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    border: none;
    background-color: transparent;
    color: white;
    font-size: 32px;
    cursor: pointer;
}
button#prev {
    left: 10px;
}
button#next {
    right: 10px;
}
.footer {
    background: var(--clr-2);
    bottom: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.icon-map {
    width: 50px;
    height: 45px;
    margin-bottom: 0.6rem;
}
.icon {
    grid-area: icon;
    padding: 0.5rem 0 0 0.5rem;
}
.footer-nav {
    flex: 1;
}
.footer-nav ul {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 2rem;
}
.footer-nav ul li {
    color: var(--clr-4);
    font-weight: 600;
    list-style: none;
}

/* start slide code */
.top-of-scroll {
    color: white;
    text-align: center;
}
.slide-container {
    max-width: 800px;
    margin: 0 auto;
}
.heading {
    font-size: 3rem;
    color: var(--clr-5);
}
.subheading {
    font-size: 1.5rem;
    color: var(--clr-3);
}
.first-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 75vh;
}
.item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 75vh;
}
.item:not(:first-child) {
    opacity: 0;
    transition: opacity 0.5s, transform 0.5s;
}
.item__content {
    background-color: var(--clr-1);
    color: var(--clr-5);
    text-align: center;
    padding: 3rem 7rem;
    border-radius: 7px;
    display: flex;
    align-items: center;
    max-width: 800px;
}
.item > p {
    text-align: center;
}
.left {
    transform-origin: left center;
    transform: translateX(-50%);
}
.right {
    transform-origin: right center;
    transform: translateX(50%);
}
.slide-in {
    opacity: 1 !important;
    transform: translateX(0);
}
section img {
    width: 400px;
    height: 250px;
    border-radius: 20px;
}
.p-left {
    color: white;
    padding: 1rem 0 0 3rem;
}
.p-right {
    color: white;
    padding: 1rem 3rem 0 0;
}
/* end slide code */

@keyframes rotation {
    0% { --gradient-angle: 0deg; }
    100% { --gradient-angle: 360deg;}
}

@media (max-width: 790px) {
    h1 {
        padding-top: 20%;
    }
    .logo {
        height: 40px;
        width: 40px;
    }
    .bg-block {
        width: 380px;
        height: 250px;
        top: 0;
    }
    #slider {
        width: 350px;
        height: 220px;
    }
    .footer-nav ul li {
        font-size: 14px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}
@media (max-width: 620px) {
    .logo {
        display: none;
    }
    nav ul {
        justify-content: center;
        margin: 5% 0 0 30%;
    }
    .footer-nav {
        margin: 0 2rem 2rem 0;
    }
}
@media (max-width: 390px) {
    .bg-block {
        width: 300px;
        height: 220px;
    }
    #slider {
        width: 270px;
        height: 190px;
    }
    nav ul {
        margin-left: 50%;
    }
    .footer-nav ul {
        margin-left: 20%;
    }
}